
<%#
   Render for binomial results
   Local variables:
      -bin_dist
%>

<%
  row_span  = 2
  row_span += 1 if bin_dist.left_dist.present?
  row_span += 1 if bin_dist.right_dist.present?
%>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
        <th>N / P</th>
        <th>X</th>
        <th>p(X&lt;=x) </th>
        <th>p(X=x)</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td rowspan="<%=row_span%>">
      N = <%=bin_dist.n_trials%><br/>
      P = <%=bin_dist.p_population%>
    </td>
  </tr>
  <% if bin_dist.left_dist.present? %>
    <tr>
      <td><%=bin_dist.left_dist.x_success%></td>
      <td><%=bin_dist.left_dist.p_cum%></td>
      <td><%=bin_dist.left_dist.p_point%></td>
    </tr>
  <% end %>
  <tr class="success">
    <td><%=bin_dist.x_success%></td>
    <td><%=bin_dist.p_cum%></td>
    <td><%=bin_dist.p_point%></td>
  </tr>
  <% if bin_dist.right_dist.present? %>
    <tr>
      <td><%=bin_dist.right_dist.x_success%></td>
      <td><%=bin_dist.right_dist.p_cum%></td>
      <td><%=bin_dist.right_dist.p_point%></td>
    </tr>
  <% end %>
  </tbody>
</table>
