
<div class="page-header"><h3>Binomial Distribution Table</h3>
</div>

<div class="span5">

  <%= form_tag(binomial_path, :method => 'get', :role => 'form') do %>

  <%= label_tag(:n, "N Trials") %>
  <%= select_tag :n, options_for_select(Distributions::Binomial.ns, :selected => @n) %>

  <%= label_tag(:x, "X Successes") %>
  <%= text_field_tag :x, @x, :class => 'form-control'%>

  <%= label_tag(:p, "P Population") %>
  <%= select_tag :p, options_for_select(Distributions::Binomial.ps, :selected => @p) %>

  <br/></br>
  <%= submit_tag ApplicationController::GO_STATSLY_GO, class: "btn btn-lg btn-info" %>

<% end %>

</div>
<!-- solutions section -->
<div class="span5">
  Solution section:  <br/><br/>
<% if @bin_dist %>
    Cumulative: <%=@bin_dist.p_cum%><br/>
    Point: <%=@bin_dist.p_point%>
<% end %>
</div>


