

<%#
  Z distribution: rendering
  Local vars:
    - z_dist
%>

<%
  row_span  = 2
  row_span += 1 if z_dist.left_dist.present?
  row_span += 1 if z_dist.right_dist.present?
%>


<table class="table table-bordered table-hover">
  <thead>
    <th>z-value</th>
    <th><%=image_tag 'zdist_lt_zv.jpg', :alt => 'p(Z&lt;z)'%></th>
    <th><%=image_tag 'zdist_gt_zv.jpg', :alt => 'p(Z&gt;z)'%></th>
  </thead>
  <tbody>
    <% if z_dist.left_dist.present? %>
      <tr>
        <td><%=format_precision(z_dist.left_dist.zv)%></td>
        <td><%=format_precision(z_dist.left_dist.p_lt_zv)%></td>
        <td><%=format_precision(z_dist.left_dist.p_gt_zv)%></td>
      </tr>
    <% end %>
    <tr class="success">
      <td><%=format_precision(z_dist.zv)%></td>
      <td><%=format_precision(z_dist.p_lt_zv)%></td>
      <td><%=format_precision(z_dist.p_gt_zv)%></td>
    </tr>
    <% if z_dist.right_dist.present? %>
      <tr>
        <td><%=format_precision(z_dist.right_dist.zv)%></td>
        <td><%=format_precision(z_dist.right_dist.p_lt_zv)%></td>
        <td><%=format_precision(z_dist.right_dist.p_gt_zv)%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if z_dist.interpolated %>
  <i class="icon-exclamation-sign"></i>&nbsp;&nbsp;<i>Results interpolated</i><br/>
<% end %>
<i class="icon-th-large">&nbsp;&nbsp;</i><i>I don't believe it: <a href="/tables/z-table.pdf">give me the table</a></i><br/>
<br/><br/>
