

<div class="span5">

  <%= form_tag(zdist_path, :method => :get, :role => 'form') do %>

    <div id="alpha-zv-switch" class="make-switch" style="width:200px"
        data-on-label="Solve Alpha" data-off-label="Solve Z-Value"
        data-on="success" data-off="success" data-animated="true">
        <%= check_box_tag :solve_alpha, "true", @solve_alpha %>
    </div>

    <br/><br/>

    <div id="alpha-section">
      <%= label_tag(:alpha, "Alpha") %>
      <%= text_field_tag :alpha, @alpha %>
    </div>

    <div id="zval-section">
      <%= label_tag(:zv, "Z-Value") %>
      <%= text_field_tag :zv, @zv %>
    </div>

    <br/><br/>
    <%= submit_tag ApplicationController::GO_STATSLY_GO, class: "btn btn-lg btn-info" %>
  <% end %>

</div>

<div class="span5">

<% if @z_dist %>
  <%= render :partial => 'zdist/results',
             :locals => {:z_dist => @z_dist} %>
<% end %>

</div>

<script>

// Depending on chosen switch, hides/shows various UI elements
function toggleAlphaZval(solve_alpha_checked) {
  if (solve_alpha_checked) {
    // solve for alpha
    $('#alpha-section').hide();
    $('#zval-section').show();
  }
  else {
    // solve for t-value
    $('#alpha-section').show();
    $('#zval-section').hide();
  }
}

$(document).ready(function() {
  $('#solve_alpha').change(function() {
    toggleAlphaZval(this.checked);
  });
  toggleAlphaZval($('#solve_alpha')[0].checked)
});


</script>



