
<div class="span6">

<h2>Forgot your password?</h2>
<p>
No problem.  Fill our your email address below and we'll send you an email with a link to reset your password.  Please note that this only works if you
have a Saintstir &copy; account.
</p>
<br/>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "form-vertical well" }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.label :email %>
  <%= f.email_field :email %>
  <br/><br/>
  <%= f.submit "Send me reset password instructions", :class => "btn btn-info btn-large" %>
<% end %>

<%= render :partial => "devise/shared/links" %>

</div>
