
<%# Profile information - included by new and edit registrations %>
<%# Expects local:  formobj (ref to form in block) %>

  <h3>Your Profile</h3>
  <br/>

  <%= formobj.label :username %><i>(this will be your displayed nickname on the site)</i><br/>
  <%= formobj.text_field :username %><br/><br/>

  <label for="user_anonymous">
    <%= formobj.check_box :anonymous %> <b>Anonymous</b>: check to remain anonymous on the site. Your username will by default not be displayed on the site (you can always change your mind of course)
  </label>

  <br/>
  <b>A bit more about you...</b><br/>
  <i>(None of these below are required, but we'd love to know a bit about you and where you're from)</i>
  <br/><br/>

  <%#= formobj.label :age_group %>
  <%#= select :user, :age_group, age_group_options, {:prompt => "Age Group"} %>

  <%= formobj.label :gender %>
  <%= select :user, :gender, gender_options %>

  <br/><br/>

  <%= formobj.label :state %>
  <%= select :user, :location_state, us_states_options %>
  <%# us_states is defined in the registrations_helper.rb class %>

  <%= formobj.label :country %>
  <%= country_select :user, :location_country, {"Select Country" => ""} %>
  <%# the helper country_select is defined in 'lib/country_select.rb', and adds convenience methods to FormHelper %>


<script>
  $(document).ready(function(){

    $('#user_location_state').change(function() {
      $('#user_location_country option[value="United States"]')[0].selected = true;
    });

    $('#user_location_country').change(function() {
      var selectedCountry = $('#user_location_country :selected')[0].value;
      if (selectedCountry != 'United States') {
        $('#user_location_state')[0].options[0].selected = true;
      }
    });

  });
</script>


