<div class="span6">

<% if (devise_error_messages!.present?) %>
  <div class="alert alert-error">
    To complete the registration process, please fill in any missing information below:<br/>
    <%= devise_error_messages! %>
  </div>
<% end %>

<h2>Edit Your Saintstir Profile</h2>

Use the form below to change your login information, your username (alias on website),
or your profile information.

<br/><br/>
<%= form_for(resource, :as => resource_name,
             :url => registration_path(resource_name),
             :html => { :method => :put, :class => "well" }) do |f| %>

  <h3>Your Login Info</h3>
  <br/>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %> <i>(leave blank if you don't want to change your password)</i><br/>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br/>
  <%= f.password_field :current_password %>
  <br/><br/>

  <%= render :partial => 'registrations/profile', :locals => {:formobj => f} %>

  <br/><br/>
  <%= f.submit "Update My Profile", :class => "btn btn-large btn-info" %>

<% end %>

<%
#  haven't decided whether i'm going to keep this or not
=begin
<br/><br/>
<h3>Cancel my account</h3>

<p>Unhappy? We're sorry to see you go!  Please note that this action is irreversible</p>

<p>
<%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete
</p>
=end
%>

<%= link_to "Back", :back %>

</div>



