
<div class="row">
  <div class="span12">

    <!--// BEGIN BANNER CAROUSEL -->
    <div id="banner-carousel" class="carousel slide">

      <div class="carousel-inner">

        <div class="active item" style="height:325px;">
          <div style="position:absolute; top:80px; left:60px;"><h1 style="font-size:40px">Search.</h1></div>
          <%= link_to image_tag("banner_1.jpg"), saints_path %>
          <div class="carousel-caption">
            <p>Search and learn about the saints of the Catholic Church using Saintstir's interactive filter buttons.  Every wonder which saints are
            known for particular virtues or superpowers?  Interested in finding saints who went through the same struggles that you are going through?
            Find this with our saint explorer.</p>
          </div>
        </div>

        <div class="item" style="height:325px;">
          <div style="position:absolute; top:80px; left:60px;"><h1 style="font-size:40px">Discover.</h1></div>
          <%= link_to image_tag("banner_2.jpg"), saints_path %>
          <div class="carousel-caption">
            <p>Find out more about the Catholic saints, beyond facts and biographies.  Read their quotes for inspiration, and discover other
            saints with similar traits and graces.  Read stories, testimonies, and prayers from site members.</p>
          </div>
        </div>

        <div class="item" style="height:325px;">
          <div style="position:absolute; top:80px; left:60px;"><h1 style="font-size:40px">Share.</h1></div>
          <%= link_to image_tag("banner_3.jpg"), saints_path %>
          <div class="carousel-caption">
            <p>Honor and venerate the saints of the church with other members and contributors.  Share your reflections with others on Facebook, Google, and Twitter.
            Leave reflections and prayers on the saint's "wall".  "Like" other member's reflections.  Build a community through Saintstir.</p>
          </div>
        </div>
      </div>

      <!-- Carousel nav -->
      <a class="carousel-control left" href="#banner-carousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#banner-carousel" data-slide="next">&rsaquo;</a>

    </div>

  </div>
</div>

<div class="row">

  <!--// Short intro to saintstir, etc-->
  <div class="span4">
    <h2>What is Saintstir</h2><br/>

    <p>
    Saintstir is, in short, the world's coolest search engine of the saints of the Catholic Church.
    Through Saintstir, you build community by participating in the veneration of the saints through your
    individual stories and prayers.  Your stories, prayers, and participation bless others and allow the
    saints of the Church, our extended family, to bring hope and inspire virtue within our family on earth.
    </p>

    <p><%= link_to "Explore Saintstir", saints_path %></p>

    <br/><br/>
    <p>How Saintstir got started: <%= link_to "About", statics_about_path %></p>
    <p>Interested in helping? <%= link_to "Volunteer", statics_volunteer_path %></p>
    <p>I'm a developer: <%= link_to "Developers", statics_developers_path %></p>
    <p>Have a question or comment? <%= link_to "Contact Us", contact_us_path %></p>
    <p>Follow us on twitter: <a href="http://twitter.com/saintstir">@saintstir</a></p>

  </div>

  <!--// Integrate insignia and photoreel partials -->
  <div class="span4">
    <%= render :partial => "home/saint_of_day", :locals => {:saint => @saint} %>
 </div>

  <!--// Integrate saintstir twitter feed -->
  <div class="span4">
    <h2>News <a href="http://twitter.com/saintstir">@saintstir</a></h2><br/>
    <div class="tweet"></div>
  </div>
</div>

<script>
  $(document).ready(function() {
    // Initialize banner carousel
    $('.carousel').carousel({interval:5000});

    // Initialize twitter js plugin
    $('.tweet').tweet({
      avatar_size: 32,
      count: 5,
      username: ['saintstir'],
      loading_text: "loading tweets..."
    });
  });
</script>





