

<%# ABOUT THIS SAINT %>


<!--// Section: About -->

          <table class="table">
            <tbody>
              <%#// Lots of code, b/c we want to enforce particular ordering of saint data %>

              <tr>
                <td><b>Lived</b></td>
                <td><%=@saint.get_attrib(AttribCategory::CENTURY)%> Century<br/>
                  <%=(@saint.get_metadata_value(MetadataKey::BORN) || "N/A")%> - <%=(@saint.get_metadata_value(MetadataKey::DIED) || "N/A")%> AD
                </td>
              </tr>

              <tr>
                  <td><b>Dates<b/></td>
                  <td>
                    <%=(@saint.get_metadata_value(MetadataKey::CANONYEAR) || "Pre-Congregation")%> (Canonized)<br/>
                    <% feast = ApplicationHelper.mm_dd_prettify(@saint.get_metadata_value(MetadataKey::FEASTDAY))%>
                    <% if (!feast.nil?) %>
                        <%=feast%> (Feast Day)
                    <% end %>
                  </td>
              </tr>

              <tr>
                <td><b>Origin</b></td>
                <td>
                  <%=@saint.get_attrib(AttribCategory::WORLDREGION)%><br/>
                  <%=@saint.get_attrib(AttribCategory::PERIODEUROCENTRIC)%><br/>
                  <%=@saint.get_metadata_value(MetadataKey::SPECIFICGEOPERIOD)%><br/>
                  Modern-day <%=@saint.get_metadata_value(MetadataKey::MODERNDAYCOUNTRY)%>
                </td>
              </tr>

              <tr>
                <td><b>Profession</b></td>
                <td>
                  <%=@saint.get_metadata_value(MetadataKey::OCCUPATION)%><br/>
                  <%=@saint.get_attrib(AttribCategory::OCCUPATIONSECTOR)%>
                </td>
              </tr>

              <tr>
                <td><b>Patronage</b></td>
                <td>
                  <%
                    i = 0
                    @saint.get_metadata_values(MetadataKey::PATRONAGE).sort.each do |meta|
                      if (i % 4 == 0)
                        %><br/><%
                      end
                      %><span class="label label-success"><%=meta%></span>&nbsp;&nbsp;<%
                      i += 1
                    end
                  %>
                </td>
              </tr>

              <tr>
                <td><b>Graces</b></td>
                <td>
                  <% @saint.get_attribs(AttribCategory::GRACES).each do |attrib| %>
                    <span class="label label-info"><%=attrib%></span>&nbsp;&nbsp;
                  <% end %>
                </td>
              </tr>

              <% superpowers = @saint.get_attribs(AttribCategory::SUPERPOWER) %>
              <% if (!superpowers.empty?) %>
                  <tr>
                    <td><b>Superpowers</b></td>
                    <td>
                      <% superpowers.each do |pwr| %>
                        <span class="label"><%=pwr%></span>&nbsp;&nbsp;
                      <% end %>
                    </td>
                  </tr>
              <%  end %>

              <% experiences = @saint.get_attribs(AttribCategory::LIFEEXPERIENCE) %>
              <% if (!experiences.empty?) %>
                <tr>
                  <td><b>Experiences</b></td>
                  <td>
                      <% experiences.each do |exp| %>
                        <span class="label label-success"><%=exp%></span>&nbsp;
                      <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

