
<%#
    MINIFIED SAINT INSIGNIA
    Creates the small logo/insignia for a given saint
    Expects the following local variable to be passed to the partial:
      - saint: saint model object from database
      - disc_filters: discrete filters which apply for this saint
%>

        <div class="element <%=SaintInsigniaFilter.get_color(saint)%> <%=disc_filters%>"
          data-symbol="<%=saint.id%>" style="cursor:hand; cursor:pointer;">
          <%=SaintInsigniaFilter.get_insignia(saint)[0]%><br/>
          <h3 class="symbol"><%=saint.symbol%></h3>
          <br/>
          <p class="name"><%=saint.get_metadata_value(MetadataKey::NAME)%></p>
        </div>





