
<%# Saint Postings %>
<%# Assumed parameters: @saint %>

<%
  type = Posting::TYPE_STORY
  type = posting_type if (posting_type.present?)
%>

<table cellpadding="10">
  <tr>
    <td nowrap>
      <a href="#posting-modal-<%=type%>" class="btn btn-primary" data-toggle="modal">Submit a <%=type%></a> <br/><br/>
    </td>
    <td>
      <% if type == Posting::TYPE_STORY %>
        Submit a story about your experiences with this saint and how this saint has affected your life.
        Please note that your story will be visible to everyone on Saintstir.
      <% elsif type == Posting::TYPE_PRAYER %>
        Submit a prayer request to this saint.  Your prayer request will be visible to everyone on Saintstir, but will remain anonymous.
      <% end %>
    </td>
  </tr>
</table>

<!--// Main content for the page (pagination + postings) -->
<div id="posting-content-<%=type%>">
</div>


<%# Postings form, implemented as a modal %>
<div class="modal hide" id="posting-modal-<%=type%>">
    <form id="posting-form-<%=type%>">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Submit your <%=type%></h3>
    </div>
    <div class="modal-body" style="text-align:center">
      <textarea id="posting-data-<%=type%>" name="posting_data_<%=type%>" rows="15" class="span6"></textarea>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
      <a id="submit-posting-<%=type%>" href="#" class="btn btn-primary">Submit</a>
      </div>
  </form>
</div>


<script>
  var pa = new PostingApp(<%=@saint.id%>, '<%=type%>');
  pa.init();
</script>



