
<h3><%=@saint.get_metadata_value(MetadataKey::NAME)%></h3><br/>

<table cellpadding="5">
  <tr>
    <td>
      <%= image_tag FlickrIntegration.get_photo(@saint.get_metadata_value(MetadataKey::FLICKR_PROFILE), FlickrIntegration::SIZE_SQUARE_LARGE)  %>
    </td>
    <td valign="top" nowrap>
      <b>Quick Facts:</b><br/><br/>
      Lived: <%= @saint.get_metadata_value(MetadataKey::BORN) || "?" %> - <%= @saint.get_metadata_value(MetadataKey::DIED) || "?" %><br/>
      Feast: <%= @saint.get_metadata_value(MetadataKey::FEASTDAY) || "N/A" %><br/>
      Modern-day <%= @saint.get_metadata_value(MetadataKey::MODERNDAYCOUNTRY) %><br/>
      Canonized: <%= @saint.get_metadata_value(MetadataKey::CANON_YEAR) || "Unknown" %><br/>
    </td>
  </tr>
</table>`


