
<div class="row">

  <!--// Saint insignia and photo section -->
  <div class="span4">
    <!--// Saint insignia -->
    <%= render :partial => 'saints/insignia', :locals => {:saint => @saint} %>
    <!--// Flickr photoset / reel -->
    <%= render :partial => 'saints/photoreel', :locals => {:saint => @saint} %>
    <!--// Submit a correction to inaccurate content -->
    <br/><br/>
    <i class="icon-edit"></i>
    <%= link_to "Errors?  Let us know!", contact_us_path(:purpose => "Correction", :message => "Corrections for saint: #{@saint.symbol}\n\n") %><br/>
  </div>

  <!--// Main content : tabs (attribs, metadata, and commentary, etc) -->
  <div class="span8">
    <div class="tabbable">

      <!--// All navigation tabs available -->
      <ul class="nav nav-tabs">
        <li class="active"><a id="about-tab" href="#about" data-toggle="tab">About</a></li>
        <li><a id="wall-tab" href="#wall" data-toggle="tab">Wall</a></li>
        <li><a id="quotes-tab" href="#quotes" data-toggle="tab">Quotes</a></li>
        <li><a id="prayers-tab" href="#prayers" data-toggle="tab">Prayers</a></li>
        <li><a id="bio-tab" href="#bio" data-toggle="tab">Bio</a></li>
      </ul>

      <div class="tab-content">

        <!--// Section: About -->
        <div class="tab-pane active" id="about" style="padding:7px">
          <%= render :partial => "saints/about" %>
        </div>

        <!--// Section: Quotes -->
        <div class="tab-pane" id="quotes" style="padding:7px;">
          <table class="table">
            <% @saint.get_metadata_values(MetadataKey::QUOTES).each do |quote| %>
              <tr><td><%=quote%></td></tr>
            <% end %>
          </table>
        </div>

        <!--// Section: Prayers -->
        <div class="tab-pane" id="prayers" style="padding:7px;">
          <table class="table">
            <% @saint.get_metadata_values(MetadataKey::NOVENASPRAYERS).each do |pry| %>
              <tr><td><%=pry%></td></tr>
            <% end %>
          </table>
        </div>

        <!--// Section: Wall -->
        <div class="tab-pane" id="wall" style="padding:7px;">
          <%= render :partial => "postings/postings", :locals => { :saint_id => @saint.id, :posting_id => @posting_id} %>
        </div>

        <!--// Section: Bio -->
        <div class="tab-pane" id="bio" style="padding:7px;">
          <%  bio = WikipediaBioScraper.get(@saint.id, @saint.get_metadata_value(MetadataKey::WIKIPEDIA_LINK)) %>
          <% if (bio.present?) %>
            <div class="alert alert-info">Biography source: <%= link_to 'Wikipedia', @saint.get_metadata_value(MetadataKey::WIKIPEDIA_LINK)%></div>
            <div><%= raw(bio) %></div>
          <% else %>
            <div class="alert alert-info">
              No biography yet!  We'll try to update this as soon as possible.  Check back again soon!
            </div>
          <% end %>
        </div>


    </div>
  </div>
</div>
<script>
  // This hook allows us to deep link to a specific tab
  // (hopefully twitter bootstrap will come up with something better)
  $(document).ready(function() {
    try {
      url = document.location.href.split('#')
      if (url.length > 1 && url[1].length > 0) {
        clickOnTab(url[1]);
      }
    }
    catch(err) {
    }
  });
  function clickOnTab(tabName) {
    $('#'+tabName+'-tab')[0].click();
  }
</script>
