<div class="row">
  <div class="span8">
    <h2>Sign in</h2><br/>

    <h3>Sign in through one of the services below</h3><br/><br/>
    <%= render :partial => "authentications/auth_providers" %>


    <br/><br/>
    <h3>OR</h3>
    <br/>
    <h3>Sign in with your Saintstir &copy; account</h3>
    <br/>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-vertical well"}) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <% if devise_mapping.rememberable? -%><br/>
        <span class="form-inline">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </span><br/>
      <% end -%>
      <br/>
      <%= f.submit "Sign in", :class => "btn btn-large btn-info" %>
    <% end %>

    <%= render :partial => "devise/shared/links" %>
  </div>

  <div class="span4">
    <%= image_tag "logo_white.jpg" %>
    <br/><br/>
    <h2>News <a href="http://twitter.com/saintstir">@saintstir</a></h2><br/>
    <div class="tweet"></div>
  </div>

<script>
  $(document).ready(function() {
    // Initialize twitter js plugin
    $('.tweet').tweet({
      avatar_size: 32,
      count: 5,
      username: ['saintstir'],
      loading_text: "loading tweets..."
    });
  });
</script>
</div>

