<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Saintstir</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>

  </head>

  <body>

    <%#// google analytics usage integration into site %>
    <%= render :partial => 'layouts/ga' if (Rails.env == "production") %>

    <%= yield %>
  </body>

</html>


